body
{
	background-color:lightpink;
	text-align: center;
}
	.phots 
	{
	display: flex;
	}
	

	.ph 
	{	
	padding:5px;
	text-align:center;
	width: 200px;
    height: 150px;
    border: solid brown ;
    
		}


	.phots img:hover 
	{
    border:8px solid black;
	}
	img{
		height:120%;
		width:120%;
	}